@media (max-width:768px) {
    body {
        overflow: scroll;
        text-align: center
    }
    #main-header img {
        height: 3vh;
    }
    #content {
        padding: 5px;
    }

    #icon figure {
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .icons {
        height: 15vh;
    }

    #buttons {
        font-size: 0px;
    }
    .button {
        width: 49%;
        font-size: 16px;
        margin: 0 auto;
    }
    .button:first-child {
        margin-right: 2%;
    }
}
